<footer class="site-footer">
  <div class="container">

	<p>You can follow me on <a href="https://twitter.com/intent/user?screen_name=beeriest">Twitter</a>, of course.</p>
	
	<p>I love meeting new people. Want to work together or just chat about life? </br> Feel free to <a href="http://www.linkedin.com/pub/kabir-sewani/39/120/b65">Connect </a>with me on LinkedIn, or <a onmouseover="this.innerHTML = 'kabir.sewani@gmail.com'" onmouseout="this.innerHTML = 'send me an email'" alt="email" href="mailto:kabir.sewani@gmail.com">send me an email</a>.</p>

    <!--<p>The theme of this blog is open sourced <a href="https://github.com/cabbeer/cabbeer.github.com" target="_blank" id="repo">on GitHub</a></p>-->
  </div>
</footer>










