
{% include head.html %}

  <body>
    <div class="wrapper">


      <header class="site-header">
        <div class="container">
          <!--<img class="logo" src="images/log.png">-->
          <nav>
            <a href="/" class="{% if page.url == '/' %} active{% endif %}">Home</a>
            <a href="/about" class="{% if page.url == '/about/' %} active{% endif %}">
            <span>About</span> Kabir
            </a>
          </nav>
        </div>
      </header>

      <section class="content">
        
              {{ content }}

      </section>
      {% include footer.html %}
    </div>
  </body>
  
</html>