{% include head.html %}

  <body>
    <div class="wrapper">

      <header class="site-header">
        <div class="container">
          <nav>
            <a href="/" class="{% if page.url == '/' %} active{% endif %}">Home</a>
            <a href="/about" class="{% if page.url == '/about/' %} active{% endif %}">
            <span>About</span> Kabir
            </a>
          </nav>
          <br />
          {% unless page.date %}
            <img src="/images/dpthumb.gif" class="avatar" />
          {% endunless %}
          <h2 class="post-title">{{ page.title }}</h2>
          {% if page.date %}
            <small class="datetime muted">
              {{ page.date | date_to_string }} - 
              by <a href="https://twitter.com/beeriest" target="_blank">@beeriest</a>
            </small>
            <div class="pagination">
              {% if page.previous %}
                <a class="page-nav previous" {% if page.previous %}href="{{ page.previous.url }}" id="js-previous-post"{% endif %}>
                  &lt;
                </a>
              {% endif %}
              {% if page.next %}
                <a class="page-nav next" {% if page.next %}href="{{ page.next.url }}" id="js-next-post"{% endif %}>
                  &gt;
                </a>
              {% endif %}
            </div>
          {% endif %}
        </div>
      </header>

        <section class="content">
          <div class="container">
            <article>
              <div class="mark"></div>
              <header>
              </header>
              {{ content }}
              {% unless page.url == "/about/" %}{% include signoff.html %}{% endunless %}
            </article>
            <div class="tip">You can use <code>◀</code> and <code>▶</code> keys to navigate between posts.</div>
          </div>
        </section>

      {% include footer.html %}
    </div>
  </body>
</html>
